################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# ===========================
# Global Ignored Files
# ===========================
.vs/
*.user
*.suo
*.log
*.tmp
*.bak
Thumbs.db
*.DS_Store
/.vs/FullStack Gen AI - .NET Core + Angular + OpenAI/CopilotIndices/17.14.939.21063
/.vs/FullStack Gen AI - .NET Core + Angular + OpenAI/FileContentIndex
/.vs/FullStack Gen AI - .NET Core + Angular + OpenAI/v17
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json

# ===========================
# .NET / Backend
# ===========================
bin/
obj/
Debug/
Release/
out/
publish/
appsettings.*.json
.env
.env.*
/BackEnd/ConsoleApp1/.vs
/BackEnd/ConsoleApp1/ConsoleApp1.csproj.user
/BackEnd/ConsoleApp1/obj
/BackEnd/WebAPI/.vs
/BackEnd/WebAPI/appsettings.Development.json
/BackEnd/WebAPI/bin/Debug/net8.0
/BackEnd/WebAPI/obj
/BackEnd/WebAPI/WebAPI.csproj.user

# ===========================
# Angular / Frontend
# ===========================
node_modules/
dist/
frontend/node_modules/
frontend/dist/
.angular/
.cache/
coverage/
/FrontEnd/UI_App/.angular/cache/20.1.6/UI_App
/FrontEnd/UI_App/.vscode
/FrontEnd/UI_App/node_modules

# ===========================
# IDE / Tooling
# ===========================
.idea/
.vscode/
*.code-workspace

